<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/tul/Desktop/Web-Automation-/src/test/java/UniversityLiving/HomePage.java">
        <classes>
            <class name="UniversityLiving.HomePage">
                <methods>
                    <include name="checkTheUrl"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>